<p>course works!</p>
<div>
  <div class="card-container">
    <button nz-button nzType="primary" (click)="open()">Create</button>
  </div>
  <div class="card-container">
    <cdk-virtual-scroll-viewport itemSize="73" class="demo-infinite-container">
      <div>
        <cdk-virtual-scroll-viewport
          itemSize="73"
          class="demo-infinite-container"
        >
          <nz-list>
            <nz-list-item *cdkVirtualFor="let item of ds">
              <nz-list-item-meta
                *ngIf="item"
                nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                [nzDescription]="item.email"
              >
              </nz-list-item-meta>
              <ul nz-list-item-actions>
                <nz-list-item-action
                  ><a (click)="edit(item)">Edit</a></nz-list-item-action
                >
                <nz-list-item-action
                  ><a (click)="delete(item)">Delete</a></nz-list-item-action
                >
              </ul>
            </nz-list-item>
          </nz-list>
        </cdk-virtual-scroll-viewport>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>

<!--Create/Edit Drawer-->
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  [nzTitle]="drawerTitle"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
>
  <form nz-form [formGroup]="form" *nzDrawerContent>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Name</nz-form-label>
          <nz-form-control>
            <input formControlName="title" nz-input placeholder="Please Enter Course Title" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Description</nz-form-label>
          <nz-form-control>
            <input formControlName="description" nz-input placeholder="Please Enter Course Description" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px" (click)="close()">
        Cancel
      </button>
      <button nz-button nzType="primary" (click)="submitForm()">Submit</button>
    </div>
  </ng-template>
</nz-drawer>
