<p>setting works!</p>
<form nz-form [formGroup]="form">
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Course</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="selectedCourse" formControlName="course">
            <nz-option *ngFor="let course of courseList" [nzValue]="course.title"
              [nzLabel]="course.description"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Subject</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="selectedSubject" formControlName="subject">
            <nz-option *ngFor="let subject of subjectList" [nzValue]="subject.description"
              [nzLabel]="subject.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Teacher</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="selectedTeacher" formControlName="teacher">
            <nz-option *ngFor="let teacher of teacherList" [nzValue]="teacher.firstName"
              [nzLabel]="teacher.lastName"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Student</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="selectedStudent" formControlName="student">
            <nz-option *ngFor="let student of studentList" [nzValue]="student.firstName"
              [nzLabel]="student.lastName"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="12">

    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label></nz-form-label>
        <nz-form-control>
          <div class="card-container" style="text-align: right;">
            <button nz-button nzType="primary" (click)="save()">Create</button>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>