<div>
  <div class="card-container">
    <button nz-button nzType="primary" (click)="open()">Create</button>
  </div>
  <div class="card-container">
    <nz-table #basicTable [nzData]="list" [nzLoading]="initLoading">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Birth Date</th>
          <th>Registration No</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.id}}</td>
          <td>{{data.name}}</td>
          <td>{{data.birthDate}}</td>
          <td>{{data.registrationNo}}</td>
          <td>
            <a (click)="edit(data)">Edit</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="showConfirm(data)">Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<!--Create/Edit Drawer-->
<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visible"
  [nzTitle]="drawerTitle" [nzFooter]="footerTpl" (nzOnClose)="close()">
  <form nz-form [formGroup]="form" *nzDrawerContent>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>First Name</nz-form-label>
          <nz-form-control>
            <input formControlName="firstName" nz-input placeholder="Please Enter Student First Name" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Last Name</nz-form-label>
          <nz-form-control>
            <input formControlName="lastName" nz-input placeholder="Please Enter Student Last Name" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Registration No</nz-form-label>
          <nz-form-control>
            <input formControlName="registrationNo" nz-input placeholder="Please Enter Registration No" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Birth Day</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="birthDate"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px" (click)="close()">
        Cancel
      </button>
      <button nz-button nzType="primary" (click)="submitForm()">Submit</button>
    </div>
  </ng-template>
</nz-drawer>